
html,
body {
  font-family: cursive, sans, sans-serif, Arial;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  position: absolute;
  height: 100%;
  width: 250px;

}

#map {
  bottom:0px;
  height: 100%;
  left:262px;
  position: absolute;
  right: 0px;
}

#pano {
  width: 200px;
  height: 200px;
}

#rating {
  font-family: cursive;
  color: #F94878;
}
 .locations-list {
   border-right: 1px solid  #f75200;
   border-radius: 7px;
   background: #eedbb9;
   height: 100%;
   padding: 10px 10px 30px 10px;
   text-align: left;
   width: 240px;
   overflow: auto;


 }

 ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
 }
li {
  font-size: 15px;
  padding: 15px;
}
a {
  text-decoration: none;
  outline: 0;
  color: #000000;
}
